body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.button-container-translate {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transform: translate(0%, 0%);
    z-index: 1;
}

.button-container-rotate {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translate(0%, 0%);
    z-index: 1;
}

.game-button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-game-button {
    width: 170px;
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: span 3;
    color: white;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}